<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{>header}}
  <p>{{메시지}}</p>
  {{>footer}}
  <a href="http://docingyu.tistory.com/9">도움블로그</a>
</body>
</html>