body {
  color: #1613c0;
  font-family: serif;
  max-width: 650px;
  margin: 0 auto;
  background-color: rgb(224, 253, 177);
}

footer {
  color: #1275d1;
  border-top: 1px solid #333333;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: none;
}

header a {
  color: rgb(67, 55, 241);
  margin-right: 16px
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

.portrait {
  width:  150px;
}